@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@font-face {
    font-family: "GilroyRegular"; /* любое название */
    src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), /* самый современный и сжатый */
    url("../fonts/Gilroy-Regular.woff") format("woff"),   /* резервный */
    url("../fonts/Gilroy-Regular.ttf") format("truetype"); /* старый формат */
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* чтобы текст сразу отображался системным шрифтом, пока грузится ваш */
}
@font-face {
    font-family: "GilroyMedium"; /* любое название */
    src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), /* самый современный и сжатый */
    url("../fonts/Gilroy-Medium.woff") format("woff");
    font-style: normal;
    font-display: swap; /* чтобы текст сразу отображался системным шрифтом, пока грузится ваш */
}
@font-face {
    font-family: "GilroyBold"; /* любое название */
    src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), /* самый современный и сжатый */
    url("../fonts/Gilroy-Bold.woff") format("woff"),   /* резервный */
    url("../fonts/Gilroy-Bold.ttf") format("truetype"); /* старый формат */
    font-style: normal;
    font-display: swap; /* чтобы текст сразу отображался системным шрифтом, пока грузится ваш */
}
@font-face {
    font-family: "GilroyExtraBold"; /* любое название */
    src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), /* самый современный и сжатый */
    url("../fonts/Gilroy-ExtraBold.woff") format("woff"),   /* резервный */
    url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"); /* старый формат */
    font-style: normal;
    font-display: swap; /* чтобы текст сразу отображался системным шрифтом, пока грузится ваш */
}
@font-face {
    font-family: "GilroySemiBold"; /* любое название */
    src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), /* самый современный и сжатый */
    url("../fonts/Gilroy-SemiBold.woff") format("woff"),   /* резервный */
    url("../fonts/Gilroy-SemiBold.ttf") format("truetype"); /* старый формат */
    font-style: normal;
    font-display: swap; /* чтобы текст сразу отображался системным шрифтом, пока грузится ваш */
}


._flex-display {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
._justify-content-center {
    -ms-flex-pack: center;
    justify-content: center;
}
._justify-content-around {
    -ms-flex-pack: center;
    justify-content: space-around;
}
._justify-content-end {
    -ms-flex-pack: end;
    justify-content: flex-end;
}
._justify-content-start {
    -ms-flex-pack: start;
    justify-content: flex-start;
}
._justify-content-between {
    -ms-flex-pack: justify;
    justify-content: space-between;
}
._align-center {
    -ms-flex-align: center;
    align-items: center;
}
._align-stretch {
    -ms-flex-align: stretch;
    align-items: stretch;
}
._align-top {
    -ms-flex-align: start;
    align-items: flex-start;
}
._align-bottom {
    -ms-flex-align: end;
    align-items: flex-end;
}
._width100 {
    width: 100%;
}
._height100 {
    height: 100%;
}
._display_table {
    display: table;
}
._display_none {
    display: none !important;
}
._cursor_pointer {
    cursor: pointer;
}
body {
    margin: 0;
    min-width: 320px;
    overflow-x: hidden;
    opacity: 1;
    position: relative;
    background: #FFF;
    font-family: "GilroyRegular", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 130%;
    color: rgb(0, 0, 0);
    outline: none !important;
}
:focus {
    outline: none !important;
}
svg:focus {
    outline: none !important;
}
div{
    box-sizing: border-box;
}
section {
    width: 100%;
    position: relative;
}
.mt20 {
    margin-top: 20px;
}
.gap10 {
    gap: 10px;
}
p, a {
    font-family: "GilroyRegular", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 130%;
    color: rgb(0, 0, 0);
    margin-top: 0;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
a:visited{
    text-decoration: none;
}
a:focus {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
    color: #F396A2;
}
a:hover {
    text-decoration: none;
    color: #F396A2;
}
a:active {
    text-decoration: none;
    color: #F396A2;
}
button {
    background: none;
    cursor: pointer;
    border: 0 none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "GilroyMedium", Arial, sans-serif;
    color: #000;
    line-height: 110%;
    margin-top: 0;
}
h1 {
    font-size: 62px;
    margin-bottom: 40px;
}
h2 {
    font-size: 62px;
    margin-bottom: 30px;
}
h3 {
    font-size: 43px;
    margin-bottom: 20px;
    margin-top: 0;
}
h4 {
    font-size: 24px;
    margin-bottom: 10px;
}
h5 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0;
}
h6 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 0;
}
h1 span, h2 span, h3 span, span.h1-title {
    position: relative;
    color: #F396A2;
}
img {
    max-width: 100%;
    height: auto;
}
ul, ol {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: square;
}
ul li {
    position: relative;
    margin-bottom: 10px;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.container {
    position: relative;
    width: 100%;
    padding: 0 15px;
    max-width: 1270px;
    /*display: table;*/
    margin: 0 auto;
}
input {
    outline: none;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.30);
}
input::-moz-placeholder { /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.30);
}
input:-ms-input-placeholder { /* IE 10+ */
    color: rgba(0, 0, 0, 0.30);
}
input:-moz-placeholder { /* Firefox 18- */
    color: rgba(0, 0, 0, 0.30);
}
input:focus, select:focus {
    outline: none !important; /* убираем подсветку */
    border: none !important;   /* если нужен совсем без рамки */
    box-shadow: none !important; /* в некоторых браузерах */
}
input#photo-input {
    display: none;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    height: 45px;
    padding-left:24px;
    padding-right:24px;
    border-radius: 184px;
    border: 1px solid #000;
}
.spec-register .btn {
    padding-left:10px;
    padding-right:10px;
}
header {
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    background: #fff;
    top: 0;
    z-index: 99;
}
.header {
    width: 100%;
    height: 105px;
    gap: 20px;
}
.header_menu ul {
    gap: 20px;
    list-style-type: none;
}
.header_menu ul li a {
    font-size: 16px;
    font-family: "GilroyMedium", Arial, sans-serif;
}
a.submenu_a {
    padding-right: 20px;
    position: relative;
}
a.submenu_a span {
    right: 0;
    top: 0;
    position: absolute;
}
.header_button {
    gap: 20px;
}
.white_btn {
    background: #fff;
    color: #000;
}
.white_btn:hover {
    color: #000;
}
.rose_btn {
    background: #F396A2;
    color: #fff !important;
    border: 1px solid #F396A2;
    cursor: pointer;
}
.white_rose_btn {
    color: #F396A2;
    border: 1px solid #F396A2;
}
.rose_btn:hover, .rose_btn:active {
    color: #fff;
}
footer {
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
    position: relative;
    z-index: 99;
}
.footer {
    width: 100%;
    background-color: #F396A2;
    padding: 70px 30px 50px;
    border-radius: 20px;
}
.footer_left, .footer_right {
    flex-direction: column;
}
.footer_share {
    gap: 12px;
}
.footer_proc h6 {
    margin-bottom: 16px;
    line-height: 1;
}
.footer ul {
    list-style-type: none;
}
.footer ul li {
    margin-bottom: 12px;
}
.footer ul li a {
    font-size: 18px;
    line-height: 100%;
    font-family: "GilroyMedium", Arial, sans-serif;
    color: #FFF;
}
.footer_proc ul li:last-child {
    margin-bottom: 0;
}
.footer_subscribe {
    width: 353px;
    padding: 35px 20px;
    background: #FFEDED url("../images/maria.png") no-repeat center right;
    background-size: contain;
    border-radius: 12px;
}
.footer_subscribe_block {
    width: 171px;
}
.footer_subscribe_block p {
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
}
.footer_subscribe_block form input {
    border-width: 0 0 1px 0;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 15px;
    padding: 8px 0;
    background: #FFEDED;
    width: 100%;
}
.footer_links {
    gap: 20px;
}
.footer_links a {
    font-family: "GilroyExtraBold", Arial, sans-serif;
}
.footer_links a:hover {
    color: #fff;
}
.cab_btn {
    border-radius: 140px;
    border: 1px solid #F396A2;
}
.cab_btn img {
    border-radius: 50%;
    border: 1px solid #F396A2;
    max-width: 47px;
    max-height: 47px;
}
.cab_btn span {
    padding: 0 12px 0 8px;
    color: #F396A2;
    font-weight: 600;
    font-size: 18px;
}
.ul_submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 0;
    min-width: 160px;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 5px 10px 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}
.header .submenu:hover .submenu_a span {
    rotate: 180deg;
    top: -5px;
}
.header .submenu:hover .ul_submenu {
    display: block;
    z-index: 99;
    max-height: 500px;
    opacity: 1;
}
.home_search_block {
    position: relative;
    border-radius: 30px;
    background: linear-gradient(90deg, #FFECED 0%, #FFD8DD 100%);
    padding: 35px 30px;
}
.home_banner {
    position: relative;
    border-radius: 30px;
    background: #FFF;
    width: 100%;
    max-width: 600px;
    padding: 52px 38px;
    text-align: center;
}
p.home_banner_title {
    font-family: "GilroyMedium", Arial, sans-serif;
    font-size: 53px;
    line-height: 100%;
    margin-bottom: 0;
}
p.home_banner_title span {
    font-style: italic;
    color: #F396A2;
}
.home_banner svg {
    max-width: 100%;
}
.home_banner_bottom {
    margin-top: 40px;
    gap: 5px;
}
.home_banner_bottom_text p {
    margin-bottom: 0;
    margin-top: 8px;
    font-size: 12px;
}
.home_search_bg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
}
.home_search_form {
    position: relative;
    width: 100%;
    border-radius: 20px;
    background: #FFF;
    padding: 16px 26px;
    margin: 23px 0 16px;
    gap: 16px;
    box-shadow: 0 79px 128px 0 rgba(192, 192, 192, 0.09), 0 28.836px 46.722px 0 rgba(192, 192, 192, 0.06), 0 13.999px 22.683px 0 rgba(192, 192, 192, 0.05), 0 6.863px 11.119px 0 rgba(192, 192, 192, 0.04), 0 2.714px 4.397px 0 rgba(192, 192, 192, 0.03);
}
.field_section {
    gap: 12px;
    flex-wrap: nowrap;
}
.spec_field_section {
    position: relative;
    width: 382px;
}
.city_field_section {
    width: 265px;
}
.radius_field_section {
    width: 191px;
}
.field_section svg {
    margin-top: 5px;
}
.field_section input, .field_section select {
    border-width: 0 0 1px 0;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 15px;
    padding: 8px 0;
    background: #ffffff;
    width: 100%;
}
#doc_search_form button {
    width: 243px;
}
.home_search_specials {
    position: relative;
    gap: 10px;
}
.home_search_specials_text {
    color: #202430;
    opacity: 0.7;
    font-family: "GilroyRegular", Arial, sans-serif;
    font-size: 16px;
}
.home_search_specials_value {
    color: #000;
    opacity: 0.7;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
#top_docs {
    margin-top: 65px;
    margin-bottom: 56px;
}
.top_docs {
    gap: 20px;
}
.top_docs_preview {
    position: relative;
    max-width: 265px;
    border-radius: 20px;
    padding: 16px;
    background: #F5F5F5;
}
.top_docs_preview.doc_number_one {
    background: #FFEDED;
    max-width: 385px;
    width: 385px;
}
.doc_number_one_image {
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
    overflow: hidden;
    border-radius: 50%;
}
.doc_number_one_image img {
    width: auto;
    max-width: max-content;
    height: 233px;
    border-radius: 50%;
}
.doc_number_one .doc_number_one_image {
    border-radius: 470px;
}
p.fio_doc {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;
}
p.spec_doc {
    color: #696969;
    font-size: 12px;
    opacity: 0.7;
}
.top_docs-rating_city p {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1;
}
.top_docs-rating, .top_docs-city {
    gap: 4px;
}
.top_docs-spec {
    margin-top: 10px;
    height: 51px;
    overflow: hidden;
}
.top_docs-spec p {
    font-size: 16px;
    color: #202430;
    opacity: 0.7;
    margin-bottom: 16px;
    line-height: 160%;
}
.top_docs-spec p span {
    font-family: "GilroyMedium", Arial, sans-serif;
}
.doc_more {
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
}
.doc-plate {
    position: absolute;
    left: 16px;
    top: 27px;
    background: #fff;
    border-radius: 160px 164px 164px 160px;
    border: 1px solid #000;
    padding: 5px 11px 3px;
    font-family: "GilroySemiBold", Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1;
}
.doc-plate.rose-plate {
    background: #F396A2;
    border: 1px solid #F396A2;
    color: #fff;
}
.doc_carousel {
    width: calc(100% - 405px);
}
.top_docs_buttons {
    width: 100%;
    margin-top: 12px;
    gap: 5px;
}
.carousel_btn {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 1px solid #F1F1F1;
    background: #FFF;
    cursor: pointer;
}
#platform {
    margin-top: 100px;
}
.subtitle {
    font-size: 16px;
    line-height: 160%;
    color: #202430;
    opacity: 0.7;
    margin-bottom: 7px;
}
#platform h1 {
    display: table;
    width: 100%;
    max-width: 897px;
}
.h1-line {
    position: absolute;
    left: 0;
    bottom: -25%;
}
.h1-line svg {
    width: 100%;
}
.platform-modals {
    gap: 20px;
    width: calc(66% - 10px);
}
.platform-modal-grey {
    width: calc(63% - 10px);
    padding: 27px 30px 17px;
    border-radius: 20px;
    background: #F5F5F5;
    margin-bottom: 20px;
    min-height: 285px;
    flex-direction: column;
}
.platform-about_plate {
    border-radius: 160px 164px 164px 160px;
    background: #F396A2;
    width: 93px;
    height: 28px;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}
.platform-about-text p {
    font-size: 16px;
    line-height: 120%;
    margin: 0;
}
.platform-modal-rose {
    width: calc(37% - 10px);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 27px 15px;
}
.platform-modal-grey a, .platform-modal-rose a {
    line-height: 0.8;
}
.platform-modal-top .platform-modal-rose {
    background: #FFEDED url("../images/platform-modal-rose1.png") no-repeat center bottom;
    background-size: cover;
}
.platform-modal-bottom .platform-modal-rose {
    background: #FFEDED url("../images/platform-modal-rose2.png") no-repeat center center;
    background-size: cover;
}
.platform-photo_plate {
    width: calc(100% - 35px);
    height: 28px;
    border-radius: 160px 164px 164px 160px;
    background: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}
.platform-action_plate {
    width: calc(100% - 35px);
    height: 28px;
    border-radius: 160px 164px 164px 160px;
    background: #F396A2;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}
.platform-action-bottom {
    width: 100%;
    margin-top: 20px;
}
.platform-action-image {
    width: calc(36% - 10px);
}
.platform-action-image img {
    border-radius: 50%;
}
.platform-action-text {
    width: calc(64% - 10px);
}
.platform-action-text p {
    font-size: 16px;
    line-height: 160%;
}
p.platform-action-title {
    color: #F396A2;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}
.platform-action-text .fio_doc_spec {
    margin-top: 20px;
}
.platform-action-text p.top_docs-rating, .platform-action-text p.top_docs-city {
    font-size: 12px;
}
.platform-action-text p.fio_doc {
    font-size: 18px;
}
.platform-action-text p.spec_doc {
    font-size: 10px;
}
.platform-services {
    width: calc(33% - 10px);
    border-radius: 20px;
    background: #F396A2;
    padding: 27px 30px 7px;
    margin-bottom: 20px;
}
.platform-services-plate {
    display: table;
    height: 28px;
    padding: 3px 16px;
    border-radius: 160px 164px 164px 160px;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}
.platform-services ul {
    margin-top: 30px;
    list-style-type: none;
}
.platform-services ul li {
    margin-bottom: 20px;
    list-style-type: none;
}
.platform-services ul li a {
    display: table;
    padding: 3px 16px;
    border-radius: 160px 164px 164px 160px;
    background: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
}
#home-articles {
    margin-top: 100px;
    padding-bottom: 40px;
}
.article {
    width: calc(50% - 10px);
}
.first-article {
    width: calc(33% - 10px);
}
.home-articles-right {
    width: calc(66% - 10px);
}
.article-image {
    overflow: hidden;
    width: 100%;
    height: 305px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.first-article .article-image {
    height: 503px;
}
.article_title {
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 160%;
}
.article-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.first-article .article-image img {
    height: 100%;
    width: auto;
    object-fit: cover;
}
.article p {
    color: #696969;
    font-size: 12px;
    line-height: 160%;
    opacity: 0.7;
    padding-right: 45px;
}
.home-articles-right h2 {
    display: table;
    max-width: 384px;
}
.article h5 {
    margin-bottom: 0;
    width: calc(100% - 46px);
}
.search_content {
    position: relative;
    width: 100%;
    z-index: 0;
}
.search_column {
    width: 600px;
}
.search_banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 30px;
    background: linear-gradient(90deg, #FFECED 0%, #FFD8DD 100%);
    padding: 30px;
}
.search_banner_title {
    max-width: 337px;
}
.search_banner h3 {
    line-height: 100%;
    margin-bottom: 0;
}
.search_banner .home_banner_bottom {
    margin-top: 9px;
    gap: 5px;
    max-width: 300px;
}
.search_banner .home_banner_bottom_text {
    width: calc(100% - 105px);
}
.search_banner .home_banner_bottom_text p {
    margin-top: 3px;
    line-height: 100%;
}
.search_map {
    position: fixed;
    right: 0;
    top: 100px;
    width: 50%;
    border-radius: 30px 0 0 30px;
    overflow: hidden;
    z-index: 9;
}
.search_form {
    margin-top: 21px;
}
#search {
    gap: 12px;
    position: relative;
}
.search_field, #more_filter {
    border-radius: 12px;
    border: 1px solid #CFCFCF;
    width: calc(33% - 6px);
    height: 42px;
    color: #25324B;
    font-size: 16px;
    line-height: 160%;
    opacity: 0.9;
    cursor: pointer;
    background: #ffffff;
}
.window .search_field {
    opacity: 1;
}
.search_field.search_field_city, .search_field.search_field_area {
    background: #ffffff url(../images/loc.png) no-repeat 16px center;
}
.search_field.search_field_radius {
    background: #ffffff url(../images/radius.png) no-repeat 16px center;
}
.search_field.search_field_sex {
    background: #ffffff url(../images/sex.png) no-repeat 16px center;
}
.search_field_input {
    width: 100%;
}
#search select, #search input, #more_filter, #register_window select, .spec-register .search_field_input input, .add_info_window select,
.sort_block select {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    border: 0 none;
    color: #25324B;
    font-size: 16px;
    line-height: 1;
    opacity: 0.9;
    cursor: pointer;
}
.sort_block {
    margin-top: 10px;
    gap: 10px;
}
.sort_block p {
    margin-bottom: 0;
}
.sort_block select {
    font-size: 14px;
}
#search select, #register_window select, .add_info_window select, .sort_block select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../images/select.png") no-repeat right 16px center;
    background-size: 10px 6px;
    border: 0 none;
    cursor: pointer;
}
#search select.search_city, #search select.search_radius, #search .search_field_sex {
    padding-left: 42px;
}
#register_window select.search_city, #register_window .search_field_sex {
    padding-left: 21px;
}
#search input, .add_info_window input {
    background: url("../images/search.png") no-repeat 16px center;
    width: calc(100% - 42px);
    padding-left: 42px;
    cursor: pointer;
}
#more_filter {
    position: relative;
    border-radius: 12px;
    border: 1px solid #CFCFCF;
    width: calc(33% - 6px);
    height: 42px;
    padding-left: 16px;
    cursor: pointer;
    background: #ffffff url("../images/more_filter.png") no-repeat right 16px center;
}
#numb_filter {
    position: absolute;
    top: 11px;
    right: 11px;
    width: 8px;
    height: 8px;
    background: #F396A2;
    border-radius: 50%;
    color: #FFF;
    font-size: 5px;
    font-weight: 600;
    line-height: 0.8;
}
#search button.submit_button {
    width: calc(33% - 6px);
    cursor: pointer;
}
#more_filter_block {
    position: absolute;
    width: 610px;
    left: 50%;
    margin-left: -305px;
    padding: 20px;
    border-radius: 30px;
    background: #FFF;
    z-index: 200;
}
.more_filter_selects {
    margin-top: 25px;
}
#area_metro {
    position: relative;
    border-radius: 12px;
    border: 1px solid #CFCFCF;
    width: calc(33% - 6px);
    height: 42px;
    padding-left: 16px;
    cursor: pointer;
    background: #ffffff url("../images/select.png") no-repeat right 16px center;
    margin-bottom: 12px;
}
#more_filter_block .search_field {
    width: calc(33% - 6px);
    margin-bottom: 12px;
}
#more_filter_block .search_field.search_field_area {
    width: calc(66% - 6px);
    margin-bottom: 12px;
    opacity: 1;
}
.more_filter_numb p, .more_filter_numb span, .area_metro_title {
    color: #25324B;
    font-size: 16px;
    line-height: 160%;
    opacity: 0.9;
}
.more_filter_numb_inputs {
    width: 100%;
    gap: 12px;
}
.more_filter_numb_field {
    width: 103px;
    gap: 8px;
    flex-wrap: nowrap;
}
#search .more_filter_numb_field input {
    border-radius: 12px;
    border: 1px solid #CFCFCF;
    color: #818181;
    font-size: 16px;
    line-height: 160%;
    opacity: 0.9;
    width: 40px;
    height: 26px;
    background: #ffffff;
    padding: 8px 16px;
}
.more_filter_numb, .more_filter_checkboxes {
    width: 50%;
}
.more_filter_checkboxes {
    gap: 12px;
}
.more_filter_buttons {
    margin-top: 12px;
}
.more_filter_buttons .btn {
    width: calc(50% - 6px);
    cursor: pointer;
}
.more_filter_checkbox {
    position: relative;
    user-select: none;
}
.more_filter_checkbox span {
    color: #25324B;
    font-size: 16px;
    opacity: 0.9;
}
input[type="checkbox"] {
    position: absolute;
    opacity: 0 !important;
    cursor: pointer;
 }
.checkmark {
    width: 16px;
    height: 16px;
    border: 4px solid #F396A2;
    border-radius: 6px;
    margin-right: 12px;
    transition: background 0.2s;
}
.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
input[type="checkbox"]:checked + .checkmark {
    background: #F396A2;
}
input[type="checkbox"]:checked + .checkmark::after {
    content: " ";
    color: white;
    font-size: 14px;
}
.area_metro_block, .sort_list {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #CFCFCF;
    background: #FFF;
    padding: 8px;
    z-index: 220;
}
.area_metro_tabs {
    gap: 4px;
    margin-bottom: 10px;
}
.area_metro_block ul {
    list-style-type: none;
}
.area_metro_block ul li {
    cursor: pointer;
    color: #25324B;
    font-size: 16px;
    line-height: 160%;
    opacity: 0.9;
}
.area_metro_tab {
    padding: 0 8px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 184px;
}
#more_filter_close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
#more_filter_block h5 {
    margin-top: 12px;
}
.doctors {
    margin-top: 44px;
}
.doctor {
    margin-bottom: 16px;
    width: 100%;
    padding: 16px;
    gap: 10px;
}
.doctor_left {
    width: 130px;
}
.doctor_right {
    width: calc(100% - 140px);
}
.doctor_photo {
    margin-bottom: 10px;
}
.doctor_photo img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.doctor_left_bottom {
    width: 98px;
    margin: 0 auto;
    text-align: center;
}
.doctor_left .top_docs-rating p, .doctor_right_title .top_docs-city p, .spec_info .top_docs-rating p {
    margin-bottom: 0;
    font-size: 12px;
    margin-top: 3px;
}
.doctor_left_link {
    margin-top: 6px;
    color: rgba(243, 150, 162, 1);
    font-size: 10px;
    font-weight: 600;
    line-height: 1.2;
    text-decoration-line: underline;
}
.doctor_left .doctor_left_address {
    margin-top: 10px;
}
.doctor_left .doctor_left_address span {
    width: calc(100% - 21px);
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    text-align: left;
}
.first_gift {
    margin-top: 10px;
    border-radius: 12px;
    background: rgba(255, 221, 223, 1);
    padding: 12px;
}
.first_gift_icon {
    width: 30px;
    height: 30px;
    background: #ffffff;
    border-radius: 50%;
    margin: 0 auto;
}
.first_gift p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: 600;
    line-height:1;
    text-align: center;
}
.doctor_right_top .doc-plate, .grey .doc-plate, .about_spec_page .doc-plate {
    position: relative;
    top: 0;
    left: 0;
}
.doctor_right_title {
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
}
.doctor_right_name h5 {
    margin-bottom: 0;
}
.doctor_right_name p {
    margin-bottom: 0;
    color: rgba(105, 105, 105, 1);
    font-size: 12px;
}
.doctor_right_services {
    gap: 6px;
}
.doctor_right_service {
    border-radius: 160px 164px 164px 160px;
    background: rgba(255, 221, 223, 1);
    font-size: 12px;
    font-weight: 600;
    padding: 3px 8px;
}
.doctor_right_prices_actions {
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 16px;
}
.doctor_right_price, .doctor_right_action {
    background: #fff url("../images/doctor_right_prices_actions.png") repeat-x 0 80%;
    margin-bottom: 10px;
    flex-wrap: nowrap;
    gap: 10px;
}
.doctor_right_action {
    background: rgba(210, 239, 140, 1) url("../images/doctor_right_prices_actions.png") repeat-x 0 80%;
    margin-bottom: 10px;
}
.doctor_right_prices_actions span {
    color: rgba(0, 0, 0, 1);
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    background: #fff;
}
.doctor_right_prices_actions .doctor_right_action span {
    background: rgba(210, 239, 140, 1);
}
.doctor_right_prices {
    width: 50%;
    padding: 8px 0 0;
}
.doctor_right_actions {
    position: relative;
    width: calc(50% - 16px);
    background: #fff url("../images/doctor_right_actions.png") no-repeat 100% 100%;
    padding: 8px 18px 0;
    background-size: 100% 100%;
}
.doctors_action_plate {
    position: absolute;
    top: -10px;
    right: 47px;
    width: 39px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 8px 3px 8px;
    border-radius: 160px 164px 164px 160px;
    background: rgba(243, 150, 162, 1);
    transform: rotate(-11.71deg);
    color: rgba(255, 255, 255, 1);
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;
}
.doctor_right_images a, .more_images {
    width: calc(20% - 2px);
    border-radius: 12px;
    overflow: hidden;
    line-height: 0;
}
.more_images {
    background: #fff url("../images/more_images.png") no-repeat center center;
}
.more_images span {
    color: rgba(255, 255, 255, 1);
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    text-decoration-line: underline;
}
.doctors_buttons {
    margin-top: 20px;
}
.all_services_button {
    width: calc(40% - 8px);
    padding: 0;
}
.save_button {
    width: calc(59% - 8px);
    padding: 0;
}
ul.pagination {
    margin-top: 30px;
    gap: 5px;
    list-style-type: none;
}
ul.pagination li {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(241, 241, 241, 1);
    border-radius: 32px;
    background: rgba(255, 255, 255, 1);
}
ul.pagination a {
    width: 100%;
    height: 100%;
    color: rgba(51, 51, 51, 1);
    font-size: 13px;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
}
ul.pagination li.pagination_current {
    border: 1px solid rgba(243, 150, 162, 1);
    background: rgba(243, 150, 162, 1);
}
ul.pagination li.pagination_dots {
    border: 0 none;
    background: none;
}
ul.pagination li.pagination_current a {
    color: #fff;
}
#photo_top .search_banner_title, .search_banner .home_banner_bottom {
    max-width: 788px;
}
#photo_top .home_search_bg {
    top: -70%;
}
.search_form_half {
    width: calc(50% - 6px);
    gap: 12px;
}
#photo_top #search button.submit_button {
    width: 100%;
}
#photo_top .search_field.search_field_service {
    width: calc(66% - 6px);
}
#photo_top {
    margin-bottom: 44px;
}
.photo_list_block {
    margin-top: 24px;
    gap: 30px 10px;
    margin-bottom: 44px;
}
.photo_item {
    width: calc(25% - 10px);
}
.photo_item_img {
    border-radius: 12px;
    overflow: hidden;
}
.photo_item p {
    color: rgba(37, 50, 75, 1);
    font-size: 14px;
    margin-bottom: 0;
}
.photo_item a.photo_name {
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}
.photo_item .top_docs-rating_city {
    margin-top: 8px;
    margin-bottom: 8px;
}
.page_banner_container {
    position: relative;
    width: 100%;
    border-radius: 30px;
    background: linear-gradient(90deg, #FFECEDFF 0%,#FFD8DDFF 100%);
    overflow: hidden;
    padding: 24px 30px 0;
}
.page_banner_block {
    position: relative;
    width: 100%;
    max-width: 615px;
    padding: 24px 30px;
    border-radius: 30px;
    background: #FFFFFF;
    margin-bottom: 21px;
    z-index: 9;
}
.page_banner_block p, .page_banner_block ul li {
    font-family: "GilroyMedium", Arial, sans-serif;
    font-size: 23px;
    line-height: 120%;
}
.page_banner_block .home_banner_bottom_text p {
    font-family: "GilroyRegular", Arial, sans-serif;
    font-size: 12px;
}
.page_banner_block a {
    font-family: "GilroyMedium", Arial, sans-serif;
    max-width: 278px;
}
#page_banner .home_search_bg {
    overflow: hidden;
    right: -50px;
    z-index: 0;
    border-radius: 0 0 30px 0;
}
#page_banner .home_search_bg img {
    margin-top: -15%;
}
#page_banner .h1-line {
    bottom: -50%;
}
#page_banner {
    margin-bottom: 60px;
}
.grey_photo, .page_banner_block ul {
    margin-top: 40px;
}
.grey {
    padding: 27px 30px;
    border-radius: 20px;
    background: #F5F5F5;
    width: calc(75% - 10px);
}
.grey ul, .about_spec_page .page_banner_block ul {
    padding-left: 25px;
    margin-top: 23px;
    list-style-type: disc;
}
/*.grey ul li, .about_spec_page .page_banner_block p, .about_spec_page .page_banner_block ul li {
    margin-bottom: 0;
}*/
.grey_img {
    width: calc(25% - 10px);
    border-radius: 20px;
    background: #FFEDED url("../images/grey_about_photo.png") no-repeat center center;
    background-size: cover;
}
.about_spec_page .grey_img {
    background: #FFEDED url("../images/grey_about_spec.png") no-repeat center center;
    background-size: cover;
}
.about_action_rating {
    gap: 20px;
    margin-top: 20px;
}
.about_action {
    width: calc(60% - 10px);
    padding: 27px 30px;
    border-radius: 20px;
    background: #F396A2;
}
.about_action p {
    font-size: 16px;
    color: #fff;
}
.about_action p:last-child {
    margin-bottom: 0;
}
.page_banner_block .home_banner_bottom, .about_pages .page_banner_block ul {
    margin-top: 0;
}
.about_spec_page .page_banner_block ul, .about_pages .doc-plate {
    margin-bottom: 20px;
}
.about_pages .doc-plate {
    position: relative;
    top: 0;
    left: 0;
}
.about_spec_page #page_banner .home_search_bg {
    right: 0;
}
.about_action_image {
    width: 272px;
}
.about_action_text {
    width: calc(100% - 300px);
}
.white-plate {
    padding: 3px 16px 3px 16px;
    font-family: "GilroySemiBold", Arial, sans-serif;
    font-size: 14px;
    border-radius: 160px 164px 164px 160px;
    background: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about_rating {
    position: relative;
    width: calc(40% - 10px);
    padding: 27px 30px;
    border-radius: 20px;
    background: #F5F5F5;
}
.about_rating p {
    font-size: 16px;
}
.about_rating_service {
    width: 100%;
    padding: 20px 16px 20px 16px;
    border-radius: 16px;
    background: #FBFBFB;
}
.about_rating_service_service {
    border-left: 1px solid #F396A2;
    padding: 5px 10px;
}
.about_rating_service_rating {
    padding-right: 10px;
    font-weight: 600;
    font-size: 35px;
    gap: 5px;
}
.about_rating_service_service p {
    font-size: 14px;
    color: #696969;
    font-family: "GilroyMedium", Arial, sans-serif;
}
.about_rating_service_service p:last-child {
    margin: 0;
}
.about_rose_photo {
    margin-top: 20px;
    gap: 24px;
}
.about_rose {
    position: relative;
    width: calc(100% - 340px);
    padding: 27px 30px 27px 30px;
    border-radius: 20px;
    background: rgba(255, 237, 237, 1);
}
.about_rose p, .about_grey_text p {
    font-size: 16px;
}
a.about_photo {
    background: #F396A2 url("../images/about_photo.png") no-repeat 30% center;
    background-size: cover;
    border-radius: 20px;
    gap: 10px;
    padding: 30px 15px;
    width: 285px;
    height: 178px;
}
a.about_photo span.about_photo_bottom {
    gap: 10px;
}
a.about_photo span.about_photo_title {
    padding: 3px 16px 3px 16px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 160px 164px 164px 160px;
    background: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    width: 210px;
    height: 28px;
}
.about_grey_photo_text {
    gap: 30px;
    padding: 27px 30px 27px 30px;
    border-radius: 20px;
    background: rgba(245, 245, 245, 1);
    margin-top: 20px;
}
.about_grey_photo_text img {
    width: 201px;
    height: 198px;
    border-radius: 20px;
}
.about_grey_text {
    position: relative;
    width: calc(100% - 231px);
}
.about_grey_text .btn {
    width: 196px;
}
.p_rose {
    color: #F396A2;
}
.p_underline {
    text-decoration: underline;
}
.about_pac_page #page_banner .home_search_bg img {
    margin-top: -19%;
}
.page_banner_block a {
    font-size: 23px;
}
.about_pac_page .grey ul li {
    margin-bottom: 10px;
}
.about_pac_page .about_action {
    width: calc(70% - 10px);
}
.about_pac_page .about_rating {
    width: calc(30% - 10px);
    padding: 27px 10px;
}
.rose-block {
    display: table;
    padding: 8px 20px 8px 20px;
    border-radius: 150px;
    background: rgba(255, 237, 237, 1);
    font-size: 16px;
}
.news #photo_top .search_banner_title {
    max-width: 587px;
    z-index: 9;
    position: relative;
}
.news .search_banner {
    padding: 50px;
}
.news #photo_top .home_search_bg {
    top: -25%;
    right: -25px;
}
#news_list {
    margin-top: 44px;
}
.select_cats {
    gap: 8px;
}
.number_sort {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px
}
.number_sort span {
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}
.sort_news {
    position: relative;
}
.area_metro_block, .sort_list {
    top: 30px;
}
.sort_list_li {
    cursor: pointer;
}
.news_list_block {
    margin-top: 20px;
    gap: 20px;
}
.news_item {
    width: calc(33% - 10px);
}
.photo_item_img {
    /*height: 467px;*/
    border-radius: 20px;
    overflow: hidden;
    display: block;
}
.photo_item_img img {
    /*width: 100%;
    height: auto;*/
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.news_item_title {
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    line-height: 35px;
}
.news_item_title span {
    width: calc(100% - 52px);
}
.news_item p {
    color: rgba(105, 105, 105, 1);
    font-size: 12px;
    margin-bottom: 0;
    width: calc(100% - 42px);
    line-height: 1.6;
}
.article_banner {
    width: 100%;
    border-radius: 30px;
    background: linear-gradient(90.00deg, rgba(255, 236.33282470703125, 236.64395141601562, 1),rgba(255, 216.41094970703125, 221.39016723632812, 1) 100%);
    gap: 16px;
    padding: 40px;
}
.article_banner_title {
    max-width: 600px;
}
.article_title_image {
    max-width: 454px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}
#article_content {
    margin-top: 40px;
    font-size: 18px;
    margin-bottom: 18px;
}
#article_content h2, #article_content h3, #article_content h4, #article_content h5, #article_content h6 {
    margin-top: 30px;
    margin-bottom: 18px;
}
#article_content h5 {
    font-size: 22px;
}
#article_content ol {
    margin-top: 30px;
    list-style-type: none; /* Прибираємо стандартні цифри */
    counter-reset: num;
}
#article_content ul {
    list-style-type: disc;
    margin: 0;
    padding-left: 25px;
}
#article_content ol li {
    counter-increment: num;
    font-family: "GilroyRegular", Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}
#article_content ol li::before {
    content: counter(num) ". ";
    font-family: "GilroyRegular", Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
}
#article_content ol li ul {
    list-style-type: decimal;
    margin: 0;
}
#article_content ol li p, #article_content ol li ul li {
    font-weight: 400;
    margin-bottom: 0;
}
.article_rose_block {
    padding: 24px;
    gap: 24px;
    border-radius: 20px;
    background: rgba(243, 150, 162, 1);
}
.article_rose_block .white-plate {
    text-transform: capitalize;
    margin-bottom: 0;
}
.article_rose_block p {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    margin-bottom: 0;
    width: calc(100% - 125px);
}
.article_image_text {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.article_image_text img {
    width: calc(50% - 20px);
    border-radius: 20px;
}
.article_image_text_text {
    width: calc(50% - 20px);
}
.return_btn {
    width: 275px;
}
.spec_wrapper {
    gap: 20px;
}
.spec_info {
    width: 276px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 225, 228, 1);
    border-radius: 16px;
    background: rgba(251, 251, 251, 1);
    padding: 16px;
}
.spec_content {
    width: calc(100% - 296px);
    box-sizing: border-box;
    border: 1px solid rgba(255, 225, 228, 1);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    padding: 30px
}
.spec_info .doctor_photo {
    margin: 20px auto 0;
}
.spec_info .doctor_left_bottom, .spec_info .doctor_left_address {
    width: 100%;
}
.spec_info .doctor_left_address span {
    display: table;
    font-size: 13px;
    font-weight: 600;
    line-height: 100%;
}
.spec_info .doctor_right_name p {
    font-size: 16px;
}
.spec_info .doctor_left_link {
    font-size: 12px;
    margin-top: 0;
}
.spec_info .first_gift p {
    font-size: 12px;
}
.spec_content .select_cats .btn {
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    height: 35px;
}
.spec_content .doctor_right_prices {
    width: 100%;
    margin-top: 30px;
    gap: 18px 44px;
}
.spec_content .doctor_right_price {
    width: calc(50% - 22px);
}
.spec_content .doctor_right_prices span, .add_doctor_prices_list .doctor_right_price_line span {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    background: #fff;
}
.appointments {
    width: 100%;
    border-radius: 16px;
    background: rgba(255, 237, 237, 1);
    padding: 16px 9px 16px 9px;
    margin-top: 20px;
}
.appointments_btn {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.appointments_schedule {
    width: calc(100% - 32px);
    overflow: hidden;
}
.appointments_day {
    position: relative;
    width: 100%;
    border-right: 1px dashed rgba(255, 255, 255, 1);
    padding-right: 10px;
    padding-left: 10px;
}
.appointments_title {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: center;
    margin-bottom: 16px;
    line-height: 1.4;
}
.appointments_free {
    width: 100%;
    border-radius: 8px;
    background: rgba(243, 150, 162, 1);
    color: rgba(255, 255, 255, 1);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8px;
    padding: 8px 10px;
    cursor: pointer;
}
.appointments_busy {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    background: rgba(251, 251, 251, 1);
    color: rgba(149, 149, 149, 1);
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
}
.appointments_busy span {
    font-weight: 600;
    font-size: 14px;
}
.appointments_not {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: center;
}
.spec_about {
    gap: 30px;
    margin-top: 20px;
}
.spec_about_info {
    width: calc(60% - 15px);
}
.spec_about_docs {
    width: calc(40% - 15px);
}
.spec_about_info h4 {
    font-size: 22px;
}
.spec_about h4 {
    font-size: 22px;
    margin-bottom: 20px;
}
.spec_about_info p {
    font-size: 16px;
}
.spec_about_info p span {
    color: rgba(105, 105, 105, 1);
}
.spec_about_docs_list {
    gap: 10px;
}
.spec_about_docs_list a {
    display: table;
}
.spec_reviews {
    margin-top: 20px;
}
.spec_reviews .about_rating_service {
    border-radius: 16px;
    background: rgba(251, 251, 251, 1);
    padding: 35px 30px;
}
.spec_reviews .about_rating_service_service {
    width: calc(100% - 115px);
}
.spec_reviews .about_rating_service_service p {
    width: 205px;
}
.slider_number {
    width: 25px;
}
.slider {
    width: calc(100% - 250px);
    height: 13px;
    position: relative;
    border-radius: 4px;
    background: rgba(242, 242, 242, 1);
}
.slider_full {
    position: absolute;
    height: 13px;
    top: 0;
    left: 0;
    border-radius: 4px;
    background: rgba(243, 150, 162, 1);
}
.spec_review {
    width: 100%;
    margin-top: 20px;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 225, 228, 1);
    border-radius: 16px;
}
.spec_review p {
    font-size: 16px;
}
.spec_review_top {
    margin-bottom: 16px;
    gap: 10px;
}
.spec_review_left {
    gap: 10px;
}
.spec_review_image {
    width: 62px;
    height: 62px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 110px;
    overflow: hidden;
}
.my_appointment .spec_review_image {
    width: 130px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}
.my_appointment .top_docs-city p {
    margin-bottom: 0;
}
.spec_review_name_stars p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
}
.my_appointment_left_phone {
    text-align: center;
}
.my_appointment_left_phone a {
    color: rgba(105, 105, 105, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
}
.spec_review_stars {
    gap: 1px;
}
.spec_review_date {
    color: rgba(105, 105, 105, 1);
    font-size: 12px;
}
.spec_actions {
    margin-top: 20px;
}
.spec_action {
    padding: 30px;
    margin-bottom: 16px;
    border-radius: 16px;
    background: rgba(243, 150, 162, 1);
}
.spec_action_content {
    max-width: 425px;
}
.spec_action .spec_action_date {
    display: table;
    margin-bottom: 12px;
    font-size: 16px;
    padding: 8px 12px;
    background: #fff;
}
.spec_action h5 {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 12px;
}
.spec_action p {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 0;
    /*font-size: 24px;*/
}
.spec_action p span {
    text-decoration-line: line-through;
    font-size: 20px;
}
.screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1000000;
    display: none;
}
.window {
    padding: 50px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 1);
    width: 670px;
}
.window h4 {
    /*width: calc(100% - 53px);*/
}
#window_close {
    cursor: pointer;
}
.window p {
    color: rgba(37, 50, 75, 1);
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.6;
}
.window p.p_rose {
    font-weight: 600;
    margin-bottom: 4px;
    color: rgba(243, 150, 162, 1);
}
.window form {
    margin-top: 16px;
    width: 100%;
}
.window .search_field {
    margin-bottom: 8px;
    padding: 8px 16px;
    position: relative;
}
.window .search_field .text-red-600 {
    top: 25px;
    position: absolute;
}
.window .search_field input {
    width: 100%;
    height: 26px;
    border: 0 none;
    font-size: 16px;
}
.window form button {
    width: 100%;
    margin-top: 8px;
}
p.or {
    color: rgba(37, 50, 75, 1);
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}
.window a.btn {
    margin-bottom: 8px;
}
a.google_btn {
    background: #ffffff url("../images/google_btn.png") no-repeat 10px center;
}
a.facebook_btn {
    background: #ffffff url("../images/fb_btn.png") no-repeat 10px center;
}
a.forgot_link {
    display: table;
    margin: 10px auto 0;
    color: rgba(37, 50, 75, 1);
    font-size: 16px;
}
.login_btn, .register_btn {
    cursor: pointer;
}
.form_text_link {
    color: rgba(37, 50, 75, 1);
    font-size: 16px;
    text-align: center;
}
.check_title a, .form_text_link a {
    color: rgba(37, 50, 75, 1);
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
}
.form_spec_client {
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
}
#register_window .search_field {
    width: calc(33% - 5px);
    padding-top: 0;
}
#register_window .search_field.search_field_input {
    width: calc(50% - 5px);
    padding-top: 8px;
}
.form_spec_client a.btn {
    font-size: 16px;
    height: 35px;
    padding-left: 16px;
    padding-right: 16px
}
#register_window select {
    width: 100%;
    background: url(../images/select.png) no-repeat right 0 center;
}
.spec-register .select_cats {
    margin-bottom: 20px;
}
.spec-register h5 {
    margin-bottom: 16px;
    line-height: 1.4;
}
.spec_register1_left {
    width: 239px;
}
.spec_register_photo {
    box-sizing: border-box;
    border: 1px solid rgba(255, 225, 228, 1);
    border-radius: 8px;
    background: rgba(251, 251, 251, 1);
    width: 164px;
    height: 152px;
    overflow: hidden;
}
.spec_register_photo img {
    overflow: hidden;
}
.add_btn {
    display: table;
    font-size: 16px;
    height: auto;
    padding: 8px 12px;
    margin-top: 16px;
}
.spec_register1_left_block {
    margin-top: 30px;
    font-size: 16px;
}
input[type="radio"] {
    display: none;
}

/* Обёртка */
.custom-radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 8px;
    width: 100%;
    margin-bottom: 11px;
    color: rgba(37, 50, 75, 1);
    font-size: 16px;
    font-weight: 600;
}

/* Нарисуем квадрат (как у checkbox) */
.custom-radio span {
    width: 16px;
    height: 16px;
    border: 4px solid rgba(243, 150, 162, 1);
    border-radius: 6px;
    background: #fff;
    display: inline-block;
    margin-right: 8px;
    position: relative;
}

/* Когда выбрано — закрашиваем */
input[type="radio"]:checked + span {
    background: rgba(243, 150, 162, 1);
}
.custom-radio p {
    color: rgba(37, 50, 75, 1);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
}
.spec_register1_left h5 {
    max-width: 165px;
}
.spec_register1_cities, .spec_register1_line {
    gap: 8px;
    cursor: pointer;
}
.spec_register1_right {
    width: calc(100% - 299px);
}
.spec_register1_right .spec_register1_cities, .spec_register1_right .spec_register1_addresses {
    gap: 16px;
    cursor: pointer;
}
.spec-register .search_field_input {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin-top: 16px;
    padding: 8px 16px;
}
.spec-register .add_service_bottom .search_field_input {
    width: calc(100% - 91px);
    margin: 0;
}
.add_info_window .add_service_bottom .add_service_nobg select {
    padding: 0;
}
.spec-register .search_field_input input {
    border-radius: 12px;
    padding: 0;
    height: 26px;
}
.spec-register .window .search_field_input input {
    padding-left: 35px;
}
#search select.search_sex {
    padding-left: 0;
}
.spec_register1_right_block {
    margin-top: 20px;
}
.add_reg_block {
    gap: 8px;
}
.spec_register1_right_block textarea {
    width: calc(100% - 32px);
    padding: 8px 16px;
    color: #25324B;
    font-size: 16px;
    line-height: 1;
    border-radius: 12px;
    border: 1px solid #CFCFCF;
    opacity: 0.6;
    height: 70px;
}
textarea.add_desc {
    height: 150px;
}
.register_next {
    display: table;
    padding: 12px 54px 12px 54px;
    border-radius: 30px;
    background: rgba(243, 150, 162, 1);
    margin-top: 20px;
    font-weight: 600;
}
.register_prev {
    display: table;
    padding: 12px 54px 12px 54px;
    border-radius: 30px;
    border: 1px solid rgba(243, 150, 162, 1);
    margin-top: 20px;
    color: rgba(243, 150, 162, 1);
    font-weight: 600;
}
.spec_register1_right_forms {
    width: calc(100% - 167px);
}
.spec_register1_right_photos {
    width: 151px;
    gap: 8px;
}
.spec_register1_right_photos .spec_about_docs_list {
    margin-top: 16px;
}
.spec_register1_right_photos .spec_about_docs_list a {
    width: calc(50% - 8px);
}
.spec_register_buttons {
    gap: 16px;
}
.spec_register_buttons a.btn {
    height: 35px;
    font-size: 16px;
    gap: 8px;
}
.add_doctor_prices_list {
    margin-top: 30px;
    gap: 8px 36px;
}
.doctor_right_price_line {
    width: calc(50% - 18px);
    gap: 16px;
}
.doctor_right_price_line .doctor_right_price {
    width: calc(100% - 140px);
    margin: 0;
    padding-top: 3px;
}
.doctor_right_edit {
    width: 122px;
}
.price_edit_btn {
    width: 90px;
    height: 24px;
    font-size: 12px;
    padding: 0;
    cursor: pointer;
}
.close_btn {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.window.add_info_window {
    width: 100%;
    max-width: 460px;
}
.add_info_window ul {
    list-style-type: none;
}
.add_info_window ul li {
    color: rgba(37, 50, 75, 1);
    opacity: 0.9;
    font-size: 16px;
    margin-bottom: 4px;
    cursor: pointer;
}
.window.add_info_window .search_field {
    padding-left: 0;
}
.add_info_window .window_top {
    margin-bottom: 10px;
}
.add_info_window .area_metro_tabs {
    gap: 10px;
}
.add_info_window .area_metro_tab {
    padding: 8px 16px;
    font-size: 16px;
}
.window.add_info_window .search_field.add_service_nobg  {
    padding-left: 8px;
}
.add_info_window .search_field.add_service_nobg input {
    background: none;
    padding-left: 0;
}
.search_field.search_field_for {
    padding: 0;
    width: 81px;
    margin: 0;
}
.search_field.search_field_for select {
    opacity: 0.6;
}
.rose_btn.submit_window {
    margin-top: 8px;
}
.add_price_block {
    width: calc(100% - 91px);
}
.appointments_day_edit_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(243, 150, 162, 0.8);
    cursor: pointer;
    display: none;
}
.appointments_day_edit_link span {
    font-family: "Open Sans", sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 600;
    text-decoration-line: underline;
}
.appointments_day:hover .appointments_day_edit_link {
    display: flex;
}
.edit_schedule_window_block {
    margin-top: 10px;
}
.edit_hour {
    gap: 8px;
    margin-bottom: 8px;
}
.edit_hour_time {
    border-radius: 8px;
    background: rgba(243, 150, 162, 1);
    font-family: "Open Sans", sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 600;
    width: calc(100% - 193px);
    height: 35px;
}
.edit_hour_free .edit_hour_time, .edit_hour_close .edit_hour_time {
    width: calc(100% - 32px);
}
.edit_hour_not_free_btn {
    padding: 0;
    width: 121px;
    height: 24px;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    font-weight: 400;
}
.edit_hour_not_free {
    font-family: "Open Sans", sans-serif;
    color: rgba(149, 149, 149, 1);
    font-size: 10px;
}
.edit_hour_not_free span.edit_hour_not_free_time {
    font-size: 14px;
    font-weight: 600;
}
.edit_hour_close .edit_hour_time {
    background: rgba(255, 237, 237, 1);
    color: rgba(0, 0, 0, 1);
}
.add_photo.add_photo_page {
    width: 151px;
    height: 35px;
    font-size: 16px;
    gap: 8px;
}
.add_action {
    width: 110px;
    height: 35px;
    font-size: 16px;
    gap: 8px;
}
textarea.add_desc_photo {
    width: calc(100% - 32px);
    padding: 8px 16px;
    color: #25324B;
    font-size: 16px;
    line-height: 1;
    border-radius: 12px;
    border: 1px solid #CFCFCF;
    opacity: 0.6;
    height: 76px;
}
.action_list {
    margin-top: 20px;
}
.action_list .spec_action, .action_list .spec_action_content {
    width: 100%;
    max-width: 100%;
}
.spec_action_buttons {
    gap: 8px;
}
.spec_action_edit_btn {
    padding: 5px 12px 5px 12px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 184px;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 600;
}
.spec_action_edit_btn:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(243, 150, 162, 1);
    background: #fff;
}
.add_info_window input.add_action_dates {
    background: url(../images/date.png) no-repeat 16px center;
}
.client_reg_right {
    gap: 30px;
    margin-bottom: 10px;
}
.client_reg_right h5 {
    margin-bottom: 16px;
}
.client-page .spec_review {
    background: rgba(251, 251, 251, 1);
}
.client-page .spec_review_image {
    width: 103px;
    height: 103px;
    border: 0 none;
    border-radius: 470px;
    overflow: hidden;
}
p.client_spec {
    color: rgba(105, 105, 105, 1);
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
}
p.client_address {
    color: rgba(37, 50, 75, 1);
    font-size: 16px;
    opacity: 0.9;
    font-weight: 400;
    margin-top: 16px;
}
p.client_address span {
    font-weight: 600;
}
.client_date {
    gap: 4px;
    color: rgba(0, 0, 0, 1);
    font-size: 12px;
    font-weight: 600;
}
.client-page .spec_action_content {
    max-width: 100%;
}
.client-page .spec_action p {
    color: rgba(255, 255, 255, 1);
}
.client-page .spec_action p span {
    text-decoration-line: none;
    font-size: 12px;
}
.client-page .top_docs-rating, .client-page .spec_action h5 {
    margin-top: 10px;
}
.client-page .top_docs-rating p {
    font-size: 12px;
    font-weight: 400;
}
.client-page .spec_action_price .doctor_left_address, .client-page .spec_review_left .doctor_left_address {
    gap: 4px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 600;
}
.client-page .spec_action_price .doctor_left_link, .client-page .spec_review_left .doctor_left_link {
    color: rgba(255, 255, 255, 1);
}
.client-page .spec_action_price {
    text-align: right;
}
.client_action_date {
    margin-top: 35px;
}
.spec_action .spec_action_price p {
    font-size: 24px;
}
.spec_action .spec_action_price p span {
    font-size: 20px;
    text-decoration-line: line-through;
}
.spec_content-notification .spec_review h6 {
    font-size: 18px;
}
.spec_content-notification .spec_review p {
    font-size: 16px;
    margin-bottom: 4px;
}
.client_not_btn {
    margin-top: 0;
    padding: 8px 12px 8px 12px;
    border-radius: 120px;
    height: 19px;
    line-height: 1;
    font-weight: 600;
}
#btn_top {
    position: fixed;
    z-index:9999999;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    max-width: 64px;
    display: none;
    transition: opacity 0.5s ease-in-out;
}
.error-message {
    z-index: 999999;
    position: relative;
    background: #fff;
    list-style-type: none;
    padding: 5px;
    border: 1px solid red;
}
.page_banner_block b {
    color: #F396A2;
}
.delete_image {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    top: 0;
    left: 0;
    border-radius: 12px;
    background: rgba(243, 150, 162, 0.7);
    width: 100%;
    height: 100%;
}
.photo_item_img:hover .delete_image {
    display: flex !important;
}
.photo_item_img {
    position: relative;
}
.rose_plate {
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    border-radius: 160px 164px 164px 160px;
    background: rgba(255, 221, 223, 1);
    margin-bottom: 20px;
}
.my_appointment .spec_review_name_stars p {
    margin-bottom: 20px;
}
.client_address p, .client_address p span {
    color: #000;
}
.rose_plate_status {
    color: rgba(255, 225, 228, 1);
    font-size: 16px;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 120px;
    background: rgba(243, 150, 162, 1);
    margin-top: 60px;
}
#pac_search_form {
    gap: 20px;
}
#pac_search_form input {
    margin-bottom: 0;
}
#pac_search_form .btn {
    width: 145px;
}


.autocomplete-suggestions {
    position: absolute;
    /*top: 100%;*/
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 50000;
    display: inline;
    padding: 10px 15px 0;
    /*height: 100%;*/
    cursor: pointer;
}
.autocomplete-suggestions ul {
    list-style: none;
}
.autocomplete-suggestions ul li {
    font-size: 16px;
}
.doctor-patient-extra {
    margin-top: 20px;
}
.doctor-patient-extra p {
    font-size: 16px;
    font-weight: 400;
}
.doctor-patient-extra a {
    font-size: 12px;
    font-weight: 600;
    color: rgba(243, 150, 162, 1);
    text-decoration-line: underline;
}
.my_patients_appointments .rose_plate_status {
    margin-top: 10px;
    display: table !important;
    height: 35px;
}
.spec_about_info .photo_item {
    width: calc(50% - 10px);
}
#btn_reg {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
}
